.logo {
    height: calc(24px + (40 - 24) * ((100vw - 360px) / (1440 - 360)));
    width: calc(122px + (205 - 122) * ((100vw - 360px) / (1440 - 360)));
    fill: var(--logo-color);
    transition: fill linear 200ms;
}
