.available-hotels {
    background-color: var(--available-section-background-color);
    transition: background-color linear 200ms;
}

.available-container {
    position: relative;
}

.available-items {
    display: flex;
    justify-content: center;

}

.available-items-slider {
    display: flex;
    justify-content: flex-start;
    max-width: inherit;
    transition: all ease 1s;
}


