.header-icon {
    fill: #FFFFFF;
    transition: all 200ms linear;
}

.header-icon.night-icon {
    fill: var(--header-icon-color);
    transition: all 200ms linear;
}

.header-icon:hover {
    fill: #F5BD41;
}
