.card-item {
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: all ease 0.1s;
}

.card-item p {
    align-self: flex-start;
}

.card-item-img {
    margin-bottom: 24px;
    min-height: 300px;
    width: 300px;
}

.card-item-title {
    margin-bottom: 24px;
    color: #3077C6;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.card-item-location {
    font-weight: 400;
    color: #BFBFBF;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
}


@media only screen and (max-width: 480px) {
    .card-item img {
        height: 155px;
        margin-bottom: 8px;
    }

    .card-item p {
        font-size: 12px;
        line-height: 1.17em;
    }

    .card-item-title {
        margin-bottom: 4px;
    }

    .homes-item-three {
        display: none;
    }

    .homes-item-four {
        display: none;
    }
}


@media only screen and (min-width: 480px) {
    .card-item img {
        height: 155px;
        margin-bottom: 8px;
    }

    .card-item p {
        font-size: 12px;
        line-height: 1.17em;
    }

    .card-item-title {
        margin-bottom: 4px;
    }

    .homes-item-three {
        display: none;
    }

    .homes-item-four {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .card-item img {
        height: 225px;
        margin-bottom: 12px;
    }

    .card-item p {
        font-size: 18px;
        line-height: 1.17em;
    }

    .card-item-title {
        margin-bottom: 10px;
    }

    .homes-item-three {
        display: flex;
    }

    .homes-item-four  {
        display: none;
    }
}

@media only screen and (min-width: 1210px) {
    .card-item img {
        height: 300px;
        margin-bottom: 24px;
    }

    .card-item p {
        font-size: 24px;
        line-height: 1.17em;
    }

    .card-item-title {
        margin-bottom: 24px;
    }

    .homes-item-three {
        display: flex;
    }

    .homes-item-four  {
        display: flex;
    }

}
