.arrow-element {
    display: flex;
    background-color: #F3F3F4;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.arrow-element img {
    height: 15px;
}

.arrow-icon {
    height: 21px;
    stroke: #383838;
    stroke-width: 2;
    fill: none;
}
