:root {
    --homes-img-height: 296px;
    --homes-arrow-height: 40px;
}

.homes {
    background-color: var(--homes-section-background-color);
    display: flex;
    flex-direction: column;
    order: 3;
    transition: background-color 200ms linear;
}

.homes-container {
    position: relative;
}

.homes-group-items {
    display: flex;
}

.homes-group-items-slider {
    display: flex;
    justify-content: flex-start;
    max-width: inherit;
    transition: all ease 1s;
}

