.top-section {
    background-image: url(../../assets/img/Background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 900px;
    width: 100%;
    order: 1;
}

.top-section-wrapper {
    padding-bottom: 0;
    padding-top: 50px;
    height: 100%;
    position: relative;
}

.top-section-background {
    background-color:rgba(18, 18, 18, 0.25);
    height: 100%;
}


@media only screen and (max-width: 480px) {
    .top-section {
        height: 100vh;
        min-height: 900px;
    }

}

@media only screen and (min-width: 480px) {
    .top-section {
        height: 100vh;
        min-height: 900px;
    }
}

@media only screen and (min-width: 768px) {
    .top-section {
        height: 100vh;
        min-height: 900px;
    }

}

@media only screen and (min-width: 1210px) {
    .top-section {
        height: 100vh;
        min-height: 900px;
    }

}
