@import url('./fonts/Fonts.css');

:root {
    --homes-img-height: 296px;
    --homes-arrow-height: 40px;
    --reviews-arrow-height: 40px;
    --reviews-img-height: 400px;
    --column-count: 12;
    --container-max-width: 1264px;
    --best-item-img-w-and-h-md: 226px;
    --borderNumbersColor: transparent;
    --btn-plus-color: #3077C6;
    --btn-minus-color: #CECECE;
    --text-for-input-numbers: transparent;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background-color: #3077C6;
    border-radius: 2px;
}

a {
    text-decoration: none;
}

.container {
    max-width: var(--container-max-width);
    padding: 120px 16px;
    margin: 0 auto;
}

.container > h2 {
    position: relative;
    color: #383838;
    font-size: 40px;
    line-height: 47px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 105px;

}

.container h2:after {
    content: "";
    width: 2.5em;
    height: 4px;
    background-color: #F5BD41;
    margin-bottom: 80px;
    display: none;
    position: absolute;
    top: calc(1em + 20px);
    left: calc(50% - 2.5em/2);
    opacity: 0;
    transition: ease opacity 0.3s;
    transition-delay: .0s;
}

.container h2:hover:after {
    display: flex;
    margin: 0 auto;
    opacity: 1;
    transition-delay: .5s;
}



